[Unit]
Description=Prometheus Jetson Stats Exporter
After=network.target jtop.service
Requires=jtop.service

[Service]
Type=simple
User=jetson_exporter
Group=jetson_exporter
ExecStart=/usr/bin/python3 /opt/jetson_exporter/jetson_exporter.py
Restart=on-failure
RestartSec=10s
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
